@import '../../variables.scss';
@import '../../common.scss';

.dish {
    display: flex;
    justify-content: space-between;
    background-color: $primary-light;
    align-items: center;
    &__name {
        flex: 0 1 30%;
        display: flex;
        justify-content: center;
    }
    &__quantity {
        flex: 0 1 10%;
        width: 40px;
    }
}