@import '../../common.scss';

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: auto;
    &__title {
        font-size: 50px;
        text-align: center;
        &--highlight {
            color: $primary;
        }        
    }
}

.orders {
    width: 100%;
}